TABLE: NEXUS_T_CUSTOMER

  CREATE TABLE "ODAF"."NEXUS_T_CUSTOMER" 
   (	"CUSTOMER_ID" RAW(16) DEFAULT SYS_GUID() NOT NULL ENABLE, 
	"CUSTOMER_NAME" VARCHAR2(200 CHAR), 
	"STATUS" VARCHAR2(30) DEFAULT 'DRAFT' NOT NULL ENABLE, 
	"CREATED_AT" DATE, 
	"CREATED_BY" RAW(16), 
	"UPDATED_AT" DATE, 
	"UPDATED_BY" RAW(16), 
	"VERSION_NO" NUMBER(10,0) DEFAULT 1 NOT NULL ENABLE, 
	"CUSTOMER_CODE" VARCHAR2(255 CHAR), 
	 CONSTRAINT "PK_NEXUS_T_CUSTOMER" PRIMARY KEY ("CUSTOMER_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
TABLE: NEXUS_T_CUSTOMER_ADDRESS

  CREATE TABLE "ODAF"."NEXUS_T_CUSTOMER_ADDRESS" 
   (	"CUSTOMER_ADDRESS_ID" RAW(16) DEFAULT SYS_GUID() NOT NULL ENABLE, 
	"CUSTOMER_ID" RAW(16) NOT NULL ENABLE, 
	"CUSTOMER_ADDRESS_NAME" VARCHAR2(200 CHAR), 
	"CREATED_AT" DATE, 
	"CREATED_BY" RAW(16), 
	"UPDATED_AT" DATE, 
	"UPDATED_BY" RAW(16), 
	"VERSION_NO" NUMBER(10,0) DEFAULT 1 NOT NULL ENABLE, 
	"COUNTRY" VARCHAR2(4000 CHAR), 
	"CUSTOMER_CODE" VARCHAR2(255 CHAR), 
	 CONSTRAINT "PK_NEXUS_T_CUSTOMER_ADDRESS" PRIMARY KEY ("CUSTOMER_ADDRESS_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE, 
	 CONSTRAINT "FK_NEXUS_T_CUSTOMER_ADDRESS_HDR" FOREIGN KEY ("CUSTOMER_ID")
	  REFERENCES "ODAF"."NEXUS_T_CUSTOMER" ("CUSTOMER_ID") ENABLE
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
TABLE: NEXUS_T_CUSTOMER_DETAIL

  CREATE TABLE "ODAF"."NEXUS_T_CUSTOMER_DETAIL" 
   (	"CUSTOMER_DETAIL_ID" RAW(16) DEFAULT SYS_GUID() NOT NULL ENABLE, 
	"CUSTOMER_ID" RAW(16) NOT NULL ENABLE, 
	"CUSTOMER_DETAIL_NAME" VARCHAR2(200 CHAR), 
	"CREATED_AT" DATE, 
	"CREATED_BY" RAW(16), 
	"UPDATED_AT" DATE, 
	"UPDATED_BY" RAW(16), 
	"VERSION_NO" NUMBER(10,0) DEFAULT 1 NOT NULL ENABLE, 
	"COUNTRY" VARCHAR2(255 CHAR), 
	"CUSTOMER_CODE" VARCHAR2(255 CHAR), 
	"KETERANGAN" VARCHAR2(255 CHAR), 
	 CONSTRAINT "PK_NEXUS_T_CUSTOMER_DETAIL" PRIMARY KEY ("CUSTOMER_DETAIL_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE, 
	 CONSTRAINT "FK_NEXUS_T_CUSTOMER_DETAIL_HDR" FOREIGN KEY ("CUSTOMER_ID")
	  REFERENCES "ODAF"."NEXUS_T_CUSTOMER" ("CUSTOMER_ID") ENABLE
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
TABLE: NEXUS_T_SUPPLIER

  CREATE TABLE "ODAF"."NEXUS_T_SUPPLIER" 
   (	"SUPPLIER_ID" RAW(16) DEFAULT SYS_GUID(), 
	"SUPPLIER_CODE" VARCHAR2(50) NOT NULL ENABLE, 
	"SUPPLIER_NAME" VARCHAR2(100) NOT NULL ENABLE, 
	"CATEGORY" VARCHAR2(50), 
	"STATUS" VARCHAR2(20) DEFAULT 'DRAFT', 
	"CREATED_BY" VARCHAR2(50), 
	"CREATED_AT" TIMESTAMP (6) DEFAULT SYSTIMESTAMP, 
	"LIMIT_HUTANG" NUMBER(38,0), 
	 PRIMARY KEY ("SUPPLIER_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 
  TABLESPACE "USERS"  ENABLE
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
TABLE: NEXUS_T_SUPP_BANK

  CREATE TABLE "ODAF"."NEXUS_T_SUPP_BANK" 
   (	"BANK_ID" RAW(16) DEFAULT SYS_GUID(), 
	"SUPPLIER_ID" RAW(16) NOT NULL ENABLE, 
	"BANK_NAME" VARCHAR2(50) NOT NULL ENABLE, 
	"ACCOUNT_NO" VARCHAR2(50) NOT NULL ENABLE, 
	 PRIMARY KEY ("BANK_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 
  TABLESPACE "USERS"  ENABLE
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
TABLE: NEXUS_T_SUPP_CONTACT

  CREATE TABLE "ODAF"."NEXUS_T_SUPP_CONTACT" 
   (	"CONTACT_ID" RAW(16) DEFAULT SYS_GUID(), 
	"SUPPLIER_ID" RAW(16) NOT NULL ENABLE, 
	"CONTACT_PERSON" VARCHAR2(100) NOT NULL ENABLE, 
	"PHONE" VARCHAR2(50), 
	 PRIMARY KEY ("CONTACT_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 
  TABLESPACE "USERS"  ENABLE
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
